<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.sp.dao.AgentFuncRlDao">

	<sql id="selectColumn">
		t.id as id,
		t.agent_id as agentId,
		t.func_id as funcId,
		t.tenant_id as tenantId,
		t.atv_flag as atvFlag,
		DATE_FORMAT(t.oper_time,'%Y-%m-%d %H:%i:%s') as operTime,
		t.oper_user as operUser,
		t.oper_name as operName,
		t.remark as remark
	</sql>
	
	<select id="list" parameterType="com.kim.sp.vo.AgentFuncRlVo"
		resultType="com.kim.sp.entity.AgentFuncRlEntity">
		select 
			<include refid="selectColumn"/>
		from icm_crm_agent_func_rl as t
		<where>
			<include refid="queryCondition"/>
		</where>
	</select>
		
	<sql id="queryCondition">
        <if test="obj.id != null">
            AND t.id = #{obj.id}
        </if>
        <if test="obj.agentId != null and obj.agentId != ''">
            AND t.agent_id = #{obj.agentId}
        </if>
        <if test="obj.funcId != null and obj.funcId != ''">
            AND t.func_id = #{obj.funcId}
        </if>
		AND t.atv_flag = 1
    	AND t.tenant_id = #{obj.tenantId}
	</sql>
	
	<select id="listByPage" parameterType="java.util.HashMap"
		resultType="com.kim.sp.entity.AgentFuncRlEntity">
		select 
			<include refid="selectColumn"/>
		from icm_crm_agent_func_rl as t
		<where>
			<include refid="queryCondition"/>
		</where>
		<if test="page.orderBy != null and page.orderBy != ''">
			order by ${page.orderBy} ${page.orderType} 
		</if>
		limit #{page.offset},#{page.rows}
	</select>
	
	<!-- <select id="listByPageCount" parameterType="java.util.HashMap" resultType="int">
		select 
			count(1) as count
		from icm_crm_agent_func_rl as t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<include refid="queryCondition"/>
		</trim>
	</select> -->
	
	<select id="find" parameterType="com.kim.sp.vo.AgentFuncRlVo"
		resultType="com.kim.sp.entity.AgentFuncRlEntity">
		select 
			<include refid="selectColumn"/>
		from icm_crm_agent_func_rl as t 
		where t.id=#{id} and t.atv_flag = 1
			AND t.tenant_id = #{tenantId}
		limit 1
	</select>
	
	<sql id="insertField">
			agent_id,
			func_id,
			tenant_id,
			atv_flag,
			oper_time,
			oper_user,
			oper_name,
			remark
	</sql>
		
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.kim.sp.entity.AgentFuncRlEntity">
		insert into icm_crm_agent_func_rl(
			<include refid="insertField"></include>
		) values (
            #{agentId},
            #{funcId},
            #{tenantId},
            #{atvFlag},
            now(),
            #{operUser},
            #{operName},
            #{remark}
		)
	</insert>
	
	<!--
	<insert id="insertBatch" parameterType="java.util.List">
		insert into icm_crm_agent_func_rl(
			<include refid="insertField"></include>
		) values 
		<foreach collection="list" item="item" separator=",">
		(
            #{item.agentId},
            #{item.funcId},
            #{item.tenantId},
            #{item.atvFlag},
            now(),
            #{item.operUser},
            #{item.operName},
            #{item.remark}
		)
		</foreach>
	</insert>
	-->
	
	<update id="update" parameterType="com.kim.sp.entity.AgentFuncRlEntity">
		update icm_crm_agent_func_rl 
		<set>
            <if test="agentId != null">
                agent_id = #{agentId},
            </if>
            <if test="funcId != null">
                func_id = #{funcId},
            </if>
            oper_time = now(),
            <if test="operUser != null">
                oper_user = #{operUser},
            </if>
            <if test="operName != null">
                oper_name = #{operName},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
		</set>
		where id=#{id} and atv_flag = 1
			AND tenant_id = #{tenantId}
	</update>
	
	<update id="deleteLogic" parameterType="com.kim.sp.vo.AgentFuncRlVo">
		update icm_crm_agent_func_rl set atv_flag=0, oper_time = now()
		where id=#{id} and atv_flag = 1
			AND tenant_id = #{tenantId}
	</update>
	
</mapper>