<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.admin.dao.ParamDao">

	<sql id="selectColumn">
		t.id as id,
		t.code as code,
		t.name as name,
		t.value as value,
		t.tenant_id as tenantId,
		t.atv_flag as atvFlag,
		DATE_FORMAT(t.oper_time,'%Y-%m-%d %H:%i:%s') as operTime,
		t.oper_user as operUser,
		t.oper_name as operName,
		t.remark as remark
	</sql>
	
	<select id="list" parameterType="com.kim.admin.vo.ParamVo"
		resultType="com.kim.admin.entity.ParamEntity">
		select 
			<include refid="selectColumn"/>
		from icm_admin_param as t
		<where>
			<include refid="queryCondition"/>
		</where>
	</select>
		
	<sql id="queryCondition">
        <if test="obj.id != null">
            AND t.id = #{obj.id}
        </if>
        <if test="obj.code != null and obj.code != ''">
            AND t.code = #{obj.code}
        </if>
        <if test="obj.name != null and obj.name != ''">
            AND (t.name like concat('%', #{obj.name}, '%')
            or t.code like concat('%', #{obj.name}, '%'))
        </if>
        <if test="obj.value != null and obj.value != ''">
            AND t.value = #{obj.value}
        </if>
        <if test="obj.tenantId != null and obj.tenantId != ''">
			AND (t.tenant_id = #{obj.tenantId}
				 or t.tenant_id = '' or t.tenant_id is null)
		</if>
		AND t.atv_flag = 1
	</sql>
	
	<select id="listByPage" parameterType="java.util.HashMap"
		resultType="com.kim.admin.entity.ParamEntity">
		select 
			tt.name as tenantName,
			<include refid="selectColumn"/>
		from icm_admin_param as t
		left join icm_admin_tenant as tt on t.tenant_id = tt.tenant_id and tt.atv_flag = 1
		<where>
			<include refid="queryCondition"/>
		</where>
		order by t.code,t.oper_time desc
		limit #{page.offset},#{page.rows}
	</select>
	
	<select id="listByPageCount" parameterType="java.util.HashMap" resultType="int">
		select 
			count(1) as count
		from icm_admin_param as t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<include refid="queryCondition"/>
		</trim>
	</select>
	
	<select id="find" parameterType="com.kim.admin.vo.ParamVo"
		resultType="com.kim.admin.entity.ParamEntity">
		select 
			<include refid="selectColumn"/>
		from icm_admin_param as t 
		where t.atv_flag = 1
		<if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="code != null">
            AND t.code = #{code}
        </if>
        <if test="tenantId != null and tenantId != ''">
			AND tenant_id = #{tenantId}
		</if>
		limit 1
	</select>
	
	<sql id="insertField">
			code,
			name,
			value,
			tenant_id,
			atv_flag,
			oper_time,
			oper_user,
			oper_name,
			remark
	</sql>
		
	<insert id="insert" parameterType="com.kim.admin.entity.ParamEntity">
		insert into icm_admin_param(
			<include refid="insertField"></include>
		) values (
            #{code},
            #{name},
            #{value},
            #{tenantId},
            #{atvFlag},
            now(),
            #{operUser},
            #{operName},
            #{remark}
		)
	</insert>
	
	<!--
	<insert id="insertBatch" parameterType="java.util.List">
		insert into icm_admin_param(
			<include refid="insertField"></include>
		) values 
		<foreach collection="list" item="item" separator=",">
		(
            #{item.code},
            #{item.name},
            #{item.value},
            #{item.tenantId},
            #{item.atvFlag},
            now(),
            #{item.operUser},
            #{item.operName},
            #{item.remark}
		)
		</foreach>
	</insert>
	-->
	
	<update id="update" parameterType="com.kim.admin.entity.ParamEntity">
		update icm_admin_param 
		<set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
            oper_time = now(),
            <if test="operUser != null">
                oper_user = #{operUser},
            </if>
            <if test="operName != null">
                oper_name = #{operName},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
		</set>
		where id=#{id} and atv_flag = 1
		<if test="tenantId != null and tenantId != ''">
			AND tenant_id = #{tenantId}
		</if>
	</update>
	
	<update id="deleteLogic" parameterType="com.kim.admin.vo.ParamVo">
		update icm_admin_param set atv_flag=0, oper_time = now()
		where id=#{id} and atv_flag = 1
		<if test="tenantId != null and tenantId != ''">
			AND tenant_id = #{tenantId}
		</if>
	</update>
	
</mapper>