<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.quality.business.dao.EvaluationDao">

	<sql id="selectColumn">
		t.id as id,
		t.task_id as taskId,
		t.agent_id as agentId,
		t.inspector as inspector,
		t.damaged as damaged,
		t.orig_score as origScore,
		t.score as score,
		t.cal_score as calScore,
		t.status as status,
		t.is_last as isLast,
		t.tenant_id as tenantId,
		t.atv_flag as atvFlag,
		DATE_FORMAT(t.eval_time,'%Y-%m-%d %H:%i:%s') as evalTime,
		DATE_FORMAT(t.oper_time,'%Y-%m-%d %H:%i:%s') as operTime,
		t.oper_user as operUser,
		t.oper_name as operName,
		t.remark as remark
	</sql>
	
	<select id="listKey" parameterType="com.kim.quality.business.vo.EvaluationVo"
		resultType="com.kim.quality.business.entity.EvaluationEntity">
		select 
			t.id as id,
			DATE_FORMAT(t.eval_time,'%Y-%m-%d %H:%i:%s') as evalTime
		from icm_qt_evaluation as t
		where t.task_id = #{taskId}
		AND t.tenant_id = #{tenantId}
		AND t.atv_flag = 1
	</select>
	
	<select id="list" parameterType="com.kim.quality.business.vo.EvaluationVo"
		resultType="com.kim.quality.business.entity.EvaluationEntity">
		select 
			<include refid="selectColumn"/>
		from icm_qt_evaluation as t
		<where>
			<include refid="queryCondition"/>
		</where>
	</select>
		
	<sql id="queryCondition">
        <if test="obj.id != null">
            AND t.id = #{obj.id}
        </if>
        <if test="obj.taskId != null">
            AND t.task_id = #{obj.taskId}
        </if>
        <if test="obj.agentId != null and obj.agentId != ''">
            AND t.agent_id = #{obj.agentId}
        </if>
        <if test="obj.inspector != null and obj.inspector != ''">
            AND t.inspector = #{obj.inspector}
        </if>
        <if test="obj.damaged != null">
            AND t.damaged = #{obj.damaged}
        </if>
        <if test="obj.origScore != null">
            AND t.orig_score = #{obj.origScore}
        </if>
        <if test="obj.score != null">
            AND t.score = #{obj.score}
        </if>
        <if test="obj.calScore != null">
            AND t.cal_score = #{obj.calScore}
        </if>
        <if test="obj.status != null">
            AND t.status = #{obj.status}
        </if>
        <if test="obj.isLast != null">
            AND t.is_last = #{obj.isLast}
        </if>
        AND t.tenant_id = #{obj.tenantId}
		AND t.atv_flag = 1
	</sql>
	
	<select id="listByPage" parameterType="java.util.HashMap"
		resultType="com.kim.quality.business.entity.EvaluationEntity">
		select 
			<include refid="selectColumn"/>
		from icm_qt_evaluation as t
		<where>
			<include refid="queryCondition"/>
		</where>
		<if test="page.orderBy != null and page.orderBy != ''">
			order by ${page.orderBy} ${page.orderType} 
		</if>
		limit #{page.offset},#{page.rows}
	</select>
	
	<select id="listByPageCount" parameterType="java.util.HashMap" resultType="int">
		select 
			count(1) as count
		from icm_qt_evaluation as t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<include refid="queryCondition"/>
		</trim>
	</select>
	
	<select id="find" parameterType="com.kim.quality.business.vo.EvaluationVo"
		resultType="com.kim.quality.business.entity.EvaluationEntity">
		select 
			<include refid="selectColumn"/>
		from icm_qt_evaluation as t 
		where t.id=#{id} and t.atv_flag = 1
			AND t.tenant_id = #{tenantId}
		limit 1
	</select>
	
	<sql id="insertField">
			task_id,
			agent_id,
			inspector,
			eval_time,
			damaged,
			orig_score,
			score,
			cal_score,
			status,
			is_last,
			tenant_id,
			atv_flag,
			oper_time,
			oper_user,
			oper_name,
			remark
	</sql>
		
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.kim.quality.business.entity.EvaluationEntity">
		insert into icm_qt_evaluation(
			<include refid="insertField"></include>
		) values (
            #{taskId},
            #{agentId},
            #{inspector},
            now(),
            #{damaged},
            #{origScore},
            #{score},
            #{calScore},
            #{status},
            #{isLast},
            #{tenantId},
            #{atvFlag},
            now(),
            #{operUser},
            #{operName},
            #{remark}
		)
	</insert>
	
	<!--
	<insert id="insertBatch" parameterType="java.util.List">
		insert into icm_qt_evaluation(
			<include refid="insertField"></include>
		) values 
		<foreach collection="list" item="item" separator=",">
		(
            #{item.taskId},
            #{item.agentId},
            #{item.inspector},
            #{item.evalTime},
            #{item.damaged},
            #{item.origScore},
            #{item.score},
            #{item.calScore},
            #{item.status},
            #{item.isLast},
            #{item.tenantId},
            #{item.atvFlag},
            now(),
            #{item.operUser},
            #{item.operName},
            #{item.remark}
		)
		</foreach>
	</insert>
	-->
	
	<update id="update" parameterType="com.kim.quality.business.entity.EvaluationEntity">
		update icm_qt_evaluation 
		<set>
            <if test="status != null">
                status = #{status},
            </if>
            oper_time = now(),
            <if test="operUser != null">
                oper_user = #{operUser},
            </if>
            <if test="operName != null">
                oper_name = #{operName},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
		</set>
		where id=#{id} and atv_flag = 1
			and task_id = #{taskId}
			AND tenant_id = #{tenantId}
	</update>
	
	<update id="clearPre" parameterType="com.kim.quality.business.vo.EvaluationVo">
		update icm_qt_evaluation set is_last = ${@com.kim.quality.business.enums.MainTask@ITEM_IS_LAST_N}
		where atv_flag = 1 AND tenant_id = #{tenantId}
			and task_id = #{taskId}
	</update>
	
	<select id="listLast" parameterType="com.kim.quality.business.vo.EvaluationVo" resultType="String">
		select 
			t.id 
		from icm_qt_evaluation as t
		where  t.atv_flag = 1 and t.tenant_id = #{tenantId}
		and t.eval_time = (
			select max(tt.eval_time) from icm_qt_evaluation as tt 
			where tt.task_id = t.task_id and tt.tenant_id = t.tenant_id and tt.atv_flag = 1
		);
	</select>
	
	<update id="updateLastById" parameterType="com.kim.quality.business.vo.EvaluationVo">
		update icm_qt_evaluation set is_last = #{isLast}
		where atv_flag = 1 AND tenant_id = #{tenantId}
			and id 
			<choose>
				<when test="isIn != null and isIn != '' and isIn == true">
					in 
				</when>
				<otherwise>
					not in 
				</otherwise>
			</choose>
			<foreach collection="idList" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</update>
	
</mapper>